body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.columns-container {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  gap: 20px;
}

.column {
  width: 80vw; /* 80% of the viewport width on mobile */
  height: 94vh;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.column h2 {
  font-size: 1.2em;
  color: #333;
}

.column form {
  display: flex;
  flex-direction: column;
  margin-top: -24px;
}

.column button {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-bottom: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: xx-large;
  cursor: pointer;
}

.column input[type="text"] {
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}



.column button:hover {
  background-color: #0056b3;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9ecef;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.task-item button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.task-item button:hover {
  background-color: #c82333;
}

@media only screen and (min-width: 768px) {
  .columns-container {
    width: 100vw;
  }
  .column {
    width: 33.33%;
  }
}
