body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes slideIn {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(247, 247, 247);
}

.app-header {
  position: fixed;
  top: 0;
  padding: 10px 0 0 20px;
  text-align: left;
  font-size: 1.6rem;
}

.columns-container {
  height: 100vh;
  display: flex;
  overflow-x: auto;
  margin-top: 40px;
  padding: 10px 20px 20px 20px;
  gap: 20px;
}

.column {
  width: 80vw; /* 80% of the viewport width on mobile */
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.column h2 {
  font-size: 1.2em;
}

.column form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -24px;
}

.add-button {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

.add-button svg {
  width: 24x;
  height: 24px;
}

.column input[type="text"] {
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.add-button:hover {
  background-color: rgb(227, 227, 227);
}

.add-button:disabled {
  cursor: not-allowed;
}

.tasks-container {
  height: 86%;
  overflow-y: auto;
}

.task-item {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
  padding: 10px;
  margin: 16px 2px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  animation: slideIn 0.8s ease forwards;

}
.task-item:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);

}

.task-title,
.task-description {
  text-align: left;
  width: 100%;
}

.task-title {
  font-size: 1rem;
  margin-bottom: 10px;
}

.task-description {
  font-size: 0.8rem;
  white-space: pre-wrap;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.date-created {
  font-size: 0.6em;
  color: rgb(136, 136, 136);
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.delete-button svg {
  width: 16px;
  height: 16px;
}

.delete-button:hover {
  background-color: rgb(227, 227, 227);
}

.confirmation-box {
  position: absolute;
  top: 0;
  right: 0px;
  display: flex;
  align-items: center;
  width: auto;
  height: 24px;
  transform: translateX(-10px);
  opacity: 0;
  gap: 8px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
  pointer-events: none;
}

.confirmation-box.show {
  opacity: 1;
  transform: translateX(-32px);
  pointer-events: unset;
}

.confirm-delete,
.confirm-cancel {
  padding: 2px 4px;
  border: none;
  border-radius: 4px;
  font-size: 0.6rem;
  cursor: pointer;
}

.confirm-delete {
  color: rgb(220, 53, 69);
}

.confirm-cancel {
  color: rgb(108, 117, 125);
}

.confirm-delete:hover {
  background-color: rgb(227, 227, 227);
}

.confirm-cancel:hover {
  background-color: rgb(227, 227, 227);
}

@media only screen and (min-width: 768px) {
  .columns-container {
    width: 100vw;
  }
  .column {
    width: 33.33%;
  }
}
