/* Reset some default browser styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  color: rgb(51, 51, 51);
  background-color: rgb(247, 247, 247);
}

#root {
  display: flex;
}
